
/* General Rules */
body{
  color: #cecece !important;
  font-family: 'Oxygen', sans-serif !important;
  background-image: url(https://images.hdqwalls.com/wallpapers/eat-sleep-code-repeat-5k-1i.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
a{
  text-decoration: none;
  color: inherit;
}

/* Lists */
ul li{
  list-style: none;
}

/* Images */
img{
  width: 100%;
  height: 100%;
}

.layover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
}
.container{
  padding: 2rem;
}


/* CUSTOM INPUTS */
 input, button {
    margin: 10px 0;
    padding: 5px;
    width: 300px;
    border: 2px solid black;
    border-radius: 7px;
    font-size: 1.2rem;
    margin: 5px;
  }
    
  button{
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
  background-color: black;
  width: 100px;
  border: 1px solid #ffffff;
  }
    
  button:hover{
    color: black;
    font-family: 'Oxygen', sans-serif;
    background-color: #ffffff;
    width: 100px;
  }
    
   input:focus{
     border: none;
   }
/* CUSTOM SELECT */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* APP */

.divider{
  height: 100px;
}
