.current{
  padding: 1rem;
  //display: flex;
  border: 2px solid  #1a1a1a;;
  border-radius: 7px;
  background-color:#1a1a1a;
  //background-color:#1a1a1a;
  //box-shadow: 5px 5px 10px 0px #1a1a1a;
  //background-color: transparent;
  .weather_cond{
    display: flex;
    justify-content: space-around;
    
    svg{
      font-size: 60px;
      color: #ffe168;
    }
  }

  .date_place{
    .city_name{
      
    }
  }

 
        
  

  //justify-content: space-between;
}